<!DOCTYPE html><html><head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/simulator.css">
    <script src="/static/js/scoreboarding.js"></script>
    <script src="/static/js/timbre.js"></script>
    <script src="/static/js/windchime.js"></script>
    <script src="/static/js/sine.js"></script>

    <title>Scoreboarding</title>
  </head>
  <body>
      <script src="/static/js/sketch.js"></script>
  </body>
</html>