<html>

<head>
    <!-- p5.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>
    <script src="/static/js/sine.js"></script>
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tufte-css/1.4/tufte.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/simulator.css">
    <link href="static/css/bare.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/static/images/S.png"/>

    <title>Scoreboarding</title>
</head>

<body>

    <button type="button" onClick="onClick()"> Clique aqui </button>

    <form method="get" action="/simulator/download">
        <button type="submit"><i class="fa fa-download"></i>Download!</button>
    </form>


    <div float inline-blocks >
        <div>
            <table>
                <tr>
                    <th>Instruction</th>
                    <th>Issue</th>
                    <th>Read OP</th>
                    <th>Exec Begin</th>
                    <th>Exec End</th>
                    <th>Write Back</th>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
                <tr>
                    <td align="left"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label">0</a></td>
                </tr>
            </table>
        </div>
        <div>
            <table style="width:20%; border: 1px solid black;">
                <tr>
                    <th>Register</th>
                    <th>UF</th>
                </tr>
                <tr>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                </tr>
                <tr>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                </tr>
                <tr>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                </tr>
                <tr>
                    <td align="center"><a id="label2">A</a></td>
                    <td align="center"><a id="label2">A</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <th>Unit</th>
                <th>Busy</th>
                <th>OP</th>
                <th>Fi</th>
                <th>Fj</th>
                <th>Fk</th>
                <th>Qj</th>
                <th>Qk</th>
                <th>Rj</th>
                <th>Rk</th>
            </tr>
            <tr>
                <td align="left"><a id="label2">LDU1</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label">0</a></td>
            </tr>
            <tr>
                <td align="left"><a id="label2">LDU2</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label">0</a></td>
            </tr>
            <tr>
                <td align="left"><a id="label2">ULA1</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label">0</a></td>
            </tr>
            <tr>
                <td align="left"><a id="label2">ULA2</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label2">A</a></td>
                <td align="center"><a id="label">0</a></td>
            </tr>
        </table>
    </div>


    <script type="text/javascript">
        var clicks = 0;
        function onClick() {
            clicks += 1;
            document.getElementById("label").innerHTML = clicks;
        };
    </script>

</body>

</html>